.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-h1 {
  font-size: 24px;
  font-weight: bold;
}

.navbar-h3 {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  text-align: right;
}